<?xml version="1.0" encoding="utf-8" ?>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>

    <logger name="ConsoleLogger">
      <level value="WARN" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="GuiLogger">
      <level value="DEBUG" />
      <appender-ref ref="GuiTraceAppender" />
    </logger>

    <appender name="GuiTraceAppender" type="Commons.Appenders.GuiTraceAppender, Commons" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss} - %message%newline%exception" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <!-- Log path -->
      <param name="File" value="logs\\" />
      <param name="AppendToFile" value="true" />
      <!-- Log filename -->
      <datePattern value="dd-MM-yyyy.TXT" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Date" />
      <maximumFileSize value="1MB" />
      <!-- set to false to create daily or hourly logs -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss} %p %l %m %n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m %n" />
      </layout>
    </appender>

    
  </log4net>




