<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="ToolCut" connectionString="Data Source=DB\ToolCutDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ToolCut.UI.Properties.Settings.ToolCutConnectionString"
      connectionString="Data Source=|DataDirectory|\ToolCutDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>

</configuration>