<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="StockCE" connectionString="Data Source=|DataDirectory|\DB\Stock.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Stock" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=SSPI;"/>
    
    <!-- connectionString="Data Source=DB\Stock.sdf"  add name="Northwind" connectionString="Data Source=LAPTOP11;Initial Catalog=Stock;Integrated Security=SSPI;"/-->
  </connectionStrings>

</configuration>